<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<script src="https://unpkg.com/vue@next"></script>
	<link rel="stylesheet" href="./index.css">
	<title>Document</title>
</head>

<body>
	<div id="root">
		<header class="header">
			<figure class="header__logo">
				<img src="./img/logo.png" alt="">
			</figure>
			<div class="header__auth">
				<button>Iniciar Sesión</button>
			</div>
		</header>

		<main class="contenedor">
			<section class="plato">
				<figure class="plato__img">
					<img :src="'img/'+objPlato.imagen" alt="">
				</figure>
				<h1 class="plato__nombre"></h1>
				<div class="plato__stars">
					<i class="fas fa-star" v-for="(n,index) in objPlato.calificacion" :key="index"></i>
				</div>
				<div class="plato__features">
					<div class="plato__feature">
						<h4 class="feature">
							<i class="fas fa-clock"></i> Preparación
						</h4>
						<p class="value">
							{{objPlato.caracteristicas.preparacion}} mins
						</p>
					</div>
					<div class="plato__feature">
						<h4 class="feature">
							<i class="fas fa-fire"></i> Calorias
						</h4>
						<p class="value">
							{{objPlato.caracteristicas.calorias}}
						</p>
					</div>
					<div class="plato__feature">
						<h4 class="feature">
							<i class="fas fa-temperature-high"></i> Temperatura
						</h4>
						<p class="value">
							{{objPlato.caracteristicas.temperatura}} &#8451;
						</p>
					</div>
					<div class="plato__feature">
						<h4 class="feature">
							<i class="fas fa-user-friends"></i> Porciones
						</h4>
						<p class="value">
							{{objPlato.caracteristicas.porciones}}
						</p>
					</div>
				</div>
				<div class="plato__about">
					<div class="plato__ingredientes">
						<h3>Ingredientes</h3>
						<ul class="plato__ingredientes-lista">
							<li class="plato__ingrediente" v-for="(ingrediente, index) in objPlato.ingredientes" :key="index">
								<p>{{ingrediente}}</p>
							</li>
						</ul>
					</div>
					<div class="plato__preparacion">
						<h3>Preparación</h3>
						<ol class="plato__preparacion">
							<li v-for="(paso, index) in objPlato.preparacion" :key="index">
								{{paso}}
							</li>
						</ol>
					</div>
				</div>
			</section>

		</main>


	</div>
	<script src="./index.js"></script>
</body>

</html>