<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <script src="https://unpkg.com/vue@next"></script>

  <link rel="stylesheet" href="./estilos.css">
  <title>Document</title>
</head>

<body>
  <div id="root">
    <header class="header">
      <figure class="header__logo">
        <img src="./assets/vue.png" alt="">
      </figure>
      <div class="header__auth">
        <button class="btn-success" v-if="!auth" @click="cambiarSesion">Iniciar Sesión</button>
        <button class="btn-danger" v-else @click="cambiarSesion">Cerrar Sesión</button>
      </div>
    </header>
    <main class="main">
      <section class="seleccionado">
        <h3>Curso Seleccionado</h3>
        <div v-if="cursoSeleccionado">
          <figure class="seleccionado__img">
            <img :src="'assets/'+cursoSeleccionado.imagen" alt="">
          </figure>
          <h4 class="seleccionado__title">{{cursoSeleccionado.nombre}}</h4>
          <p class="seleccionado__desc">
            {{cursoSeleccionado.descripcion}}
          </p>
          <p class="seleccionado__disponible">
            <span class="disponible" v-if="cursoSeleccionado.disponible">Disponible</span>
            <span class="no-disponible" v-else>No disponible</span>
          </p>
          <p class="seleccionado__horas">
            <span>
              <i class="fas fa-clock"></i> {{cursoSeleccionado.duracion}} horas
            </span>
          </p>
          <p class="seleccionado__precio">
            <span>
              <i class="fas fa-money-check "></i> {{cursoSeleccionado.precio}} dólares
            </span>
          </p>
        </div>
        <p v-else>Ningún curso seleccionado</p>
      </section>
      <section class="cursos">
        <div class="curso" v-for="curso in cursos" :key="curso.nombre" @click="seleccionarCurso(curso)">
          <figure class="curso__imagen">
            <p class="curso__descuento" v-if="curso.descuento">
              {{curso.descuento}}%
            </p>
            <img :src="'./assets/'+curso.imagen" alt="">
          </figure>
          <div class="curso__info">
            <h4>{{curso.nombre}}</h4>
            <p class="curso__descripcion">
              {{curso.descripcion}}
            </p>
            <div class="curso__caracteristicas">
              <span>
                <i class="fas fa-clock"></i> {{curso.duracion}} horas
              </span>
              <span>
                <i class="fas fa-money-check "></i> {{curso.precio}} dólares
              </span>
              <span :class="{disponible: curso.disponible, 'no-disponible':!curso.disponible}">
                {{curso.disponible ? 'disponible':'no disponible'}}
              </span>


            </div>
          </div>
          <div class="curso__acciones" v-if="curso.disponible">
            <button class="btn__comprar btn-success" @click="agregarCarrito(curso)">
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>

        </div>
      </section>
      <section class="carrito">
        <h3>Carrito</h3>
        <ul class="carrito__lista" v-if="carrito.length>0">
          <li v-for="objCurso in carrito" :key="objCurso.id">
            <h5>{{objCurso.nombre}}</h5>
            <p><strong>Precio:</strong><span>$ {{objCurso.precio}}</span></p>
          </li>
        </ul>
        <div v-else style="text-align: center;">
          <small>No hay cursos en el carrito</small>
        </div>
      </section>
    </main>
  </div>


  <script src="./index.js"></script>
</body>

</html>